html {
    font-size: 15px;
}

body *::selection {
    background: #EFEFEF;
    color: #2B2A2C;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-thumb {
    background-color: #2B2A2C;
    border-radius: 0px;
}

html::-webkit-scrollbar-track {
    background-color: #efefef;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100%;
    color: #2b2a2c;
    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.github {
    width: 3.2rem;
}

p {
    margin: 0 0 1rem;
}

.text-right {
    text-align: right;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.scrollprogress-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 0.9rem;
    width: 0%;
    opacity: .6;
    background: #2B2A2C;
    z-index: 9999;
}

.hide {
    display: none;
}

.link-small {
    font-size: 0.8rem !important;
    font-weight: 500;
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    &__icon {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

#nav-icon2 {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: -10px;
}


/* Icon 2 */

#nav-icon2 span,
#nav-icon2:after,
#nav-icon2:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
}

#nav-icon2 span {
    top: 17px;
}

#nav-icon2:after,
#nav-icon2:before {
    content: '';
}

#nav-icon2:after {
    bottom: 5px;
}

#nav-icon2:before {
    top: 5px;
}

#nav-icon2.open span {
    opacity: 0;
    transition: 0.5s;
}

#nav-icon2.open:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}

#nav-icon2.open:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

.one {
    height: 30rem !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.add {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    height: 100%;
}

.switch {
    margin-left: 1.25rem;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 2px;
    background-color: #d1ccd4;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    border: 2px solid #2B2A2C;
}

.slider.round:before {
    border-radius: 50%;
}