html {
    font-size: 15px;
}

body *::selection {
    background: #EFEFEF;
    color: #2B2A2C;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background: linear-gradient(-45deg, #c7c2c2, #d4c8c8, #ffffff, #a5afad);
    // background: linear-gradient(-45deg, #eceaea, #f7f4f4, #f3eded, #fcfdf7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100%;
    color: #2b2a2c;
    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.github {
    width: 3.2rem;
}

p {
    margin: 0 0 1rem;
}

.text-right {
    text-align: right;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.hide {
    display: none;
}

.link-small {
    font-size: 0.8rem !important;
    font-weight: 500;
}

.burger {
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: none;
    &__icon {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.one {
    height: 30rem !important;
}

.soon {
    padding: 2rem;
    padding-bottom: 1rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.add {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    height: 100%;
}